<%- include("header") -%>
  
  <body>
      <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand text-info" href="#">
              <i class="fa-solid fa-pause"data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></i> Ardes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <div class="">
                  <p class="position-absolute top-0.5 end-0 text-info">User</p>
              </div>
            </div>
          </div>

          <!--Sidebar Ardes -->

          <div class="offcanvas offcanvas-start " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header bg-info m-0 text-white">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu Lainnya</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body container-fluid">
              <ul>
               <h6><i class="fa-solid fa-sim-card"></i> Edit Portofolio</h6>
               <h6><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</h6>
              </ul>
            </div>
          </div>
          
        </nav>
      </header>

      <main>
        <div id="carouselExampleIndicators" class="carousel slide pt-2" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/gb1.png" class="d-block w-80" alt="gb1.png">
            </div>
            <div class="carousel-item">
              <img src="images/gb2.png" class="d-block w-80" alt="gb2.png">
            </div>
            <div class="carousel-item">
              <img src="images/gb3.png" class="d-block w-80" alt="gb3.png">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="container">

          <h2 class="mt-4 mb-4"><div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>List Arsitek & Designer</h2>
          
          <div class="col-12">
            <div class="card mb-4 " style="max-width: 95%;">
              <div class="row g-0">
                <div class="col-md-4 my-5">
                  <img src="images/contoh.png" class="img-fluid rounded-start " alt="...">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="card-title text-center">Profil</h4>
                    <div class="row border border-1">
                      <div class="col-6">
                        <div class=" row ">
                           <label for="nama" class="col-sm-4 col-form-label"><b>Nama</b></label>
                            <div class="col-sm-8 mt-0">
                               <p>: Albert Ensterin</p>
                            </div>
                        </div>
   
                      <div class=" row">
                          <label for="domisili" class="col-sm-4 col-form-label"><b>Domisili</b></label>
                          <div class="col-sm-8 mt-0 mb-0">
                            <p> : California8</p>
                          </div>
                       </div>
  
                       <div class=" row">
                          <label for="email" class="col-sm-4 col-form-label"><b>Gender</b></label>
                          <div class="col-sm-8 mt-0">
                            <p>: Pria</p>
                          </div>
                       </div>
  
                       <div class=" row">
                          <label for="email" class="col-sm-4 col-form-label"><b>Email</b></label>
                          <div class="col-sm-8 mt-0">
                            <p>: Nanda Aditya Putra</p>
                          </div>
                       </div>
                       </div>

                       <div class="col-6">
                        <div class=" row ">
                          <label for="nama" class="col-sm-6 col-form-label"><b>Nomor Telepon</b></label>
                           <div class="col-sm-6 mt-0">
                              <p>:082329212758</p>
                           </div>
                       </div>
  
                     <div class=" row">
                         <label for="domisili" class="col-sm-6 col-form-label"><b>No Whatsapp</b></label>
                         <div class="col-sm-6 mt-0 mb-0">
                           <p> : 082329212758</p>
                         </div>
                      </div>
 
                      <div class=" row">
                         <label for="email" class="col-sm-6 col-form-label"><b>Gender</b></label>
                         <div class="col-sm-6 mt-0">
                           <p>: @albertZxd</p>
                         </div>
                      </div>
 
                      <div class=" row">
                         <label for="email" class="col-sm-6 col-form-label"><b>Otoritas</b></label>
                         <div class="col-sm-6 mt-0">
                           <p>: Arsitek</p>
                         </div>
                      </div>
<!--                          
                          <ul style="list-style-type:none">
                            <li><b>Nomor Telepon : </b>082329212758</li>
                            <li><b>No Whatsapp :</b> 082329212758</li>
                            <li><b>Instagram : </b>@albertZxd</li>
                            <li><b>Otoritas : </b>Arsitek</li>
                          </ul> -->
                      </div>
                    </div>
                  
                    <div class="row border border-1 mt-2">

                      <h4 class="text-center">Portofolio</h4>
                      <div class="col-sm-4">
                        <img src="images/porto1.png" class="card-img-top" alt="...">
                      </div>
                      <div class="col-sm-4">
                        <img src="images/porto1.png" class="card-img-top" alt="...">
                      </div>
                      <div class="col-sm-4">
                        <img src="images/porto1.png" class="card-img-top" alt="...">
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
         
                  
        </div>

        
      </main>

      <footer  class="footer mt-auto py-3 bg-dark">
        <p class="text-white text-center">@copyright 2022 - Created by kelompok 7</p>
      </footer>
<%- include("footer") -%>